---
import { Image } from 'astro:assets'

const familyName = Astro.url.searchParams.get('familia')
const individualName = Astro.url.searchParams.get('nombre')
const adultsCount = Astro.url.searchParams.get('adultos')
const childCount = Astro.url.searchParams.get('ninos')

interface Props {
  passes?: number
  whatsAppNumber?: string
  eventDate?: string
}

const { whatsAppNumber = '', eventDate = '20 de Diciembre' }: Props = Astro.props

const { src, alt, width, height } = {
  src: 'https://dl1fn8emzdzuebjv.public.blob.vercel-storage.com/Retrato%20sentada.jpg',
  alt: 'Retrato sentada',
  width: 1920,
  height: 1080,
}

const initialWhatsappMessage = familyName
  ? `Muchas gracias por la invitación, la familia ${familyName} te confirma su asistencia el dia ${eventDate}`
  : `Hola, muchas gracias por la invitación, te confirmo mi asitencia para el dia ${eventDate}`

const initialWhatsappLink = `https://wa.me/${whatsAppNumber}?text=${encodeURIComponent(initialWhatsappMessage)}`
---

<div
  class="relative flex items-center justify-center w-screen min-h-screen font-josefin text-white"
>
  <Image {src} {alt} {width} {height} class="absolute w-full h-full object-cover -z-10" />
  <div
    class="absolute inset-0 bg-black/30 -z-10"
    style="mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);"
  >
  </div>
  <div class="relative z-10 flex flex-col items-center justify-center text-center p-4">
    <div
      class="bg-rose-900/20 backdrop-blur-lg rounded-xl shadow-lg p-6 sm:p-8 max-w-md w-full scroll-animate"
    >
      <h2
        class="font-great-vibes text-5xl text-white"
        style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);"
      >
        {familyName ? 'Estan invitados' : 'Estas invitado'}
      </h2>
      <p
        class="font-great-vibes text-4xl sm:text-5xl text-white mt-4"
        style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);"
      >
        {familyName ? `Familia ${familyName}` : `${individualName}`}
      </p>
      <p class="text-md sm:text-lg mt-6">
        {familyName ? 'Invitacion valida para una familia' : 'Invitacion valida para un pase'}
      </p>

      <div class="flex gap-4 mt-6">
        <div class="w-1/2">
          <label for="adults" class="block text-sm font-medium text-white">Adultos</label>
          <div
            class="mt-1 block w-full px-3 py-2 bg-white/20 border border-transparent rounded-md text-white focus:outline-none focus:ring-2 focus:ring-rose-500"
          >
            {adultsCount}
          </div>
        </div>
        <div class="w-1/2">
          <label for="children" class="block text-sm font-medium text-white">Niños</label>
          <div
            class="mt-1 block w-full px-3 py-2 bg-white/20 border border-transparent rounded-md text-white focus:outline-none focus:ring-2 focus:ring-rose-500"
          >
            {childCount}
          </div>
        </div>
      </div>

      <a
        id="whatsapp-link"
        href={initialWhatsappLink}
        target="_blank"
        rel="noopener noreferrer"
        class="mt-8 inline-block bg-rose-600 hover:bg-rose-700 text-white font-bold py-3 px-6 sm:px-8 rounded-full transition-colors duration-300 text-sm sm:text-base"
      >
        Confirmar asistencia
      </a>
    </div>
  </div>
</div>
